#chatButton{

position:fixed;

right:25px;

bottom:25px;

width:65px;

height:65px;

border-radius:50%;

background:#ff5ca8;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

cursor:pointer;

color:white;

box-shadow:0 10px 25px rgba(0,0,0,.25);

transition:.3s;

z-index:9999;

}

#chatButton:hover{

transform:scale(1.12);

background:#ff3f97;

}

#chatWindow{

position:fixed;

right:25px;

bottom:105px;

width:350px;

height:500px;

background:white;

border-radius:20px;

overflow:hidden;

display:none;

box-shadow:0 15px 40px rgba(0,0,0,.25);

z-index:9999;

font-family:Poppins,sans-serif;

}

#chatHeader{

background:#ff5ca8;

color:white;

padding:18px;

font-size:18px;

font-weight:bold;

display:flex;

justify-content:space-between;

align-items:center;

}

#closeChat{

cursor:pointer;

}

#chatMessages{

padding:15px;

height:350px;

overflow-y:auto;

background:#fff8fc;

}

.bot{

background:#ffe6f2;

padding:12px;

border-radius:15px;

margin-bottom:12px;

max-width:85%;

}

.user{

background:#ff5ca8;

color:white;

padding:12px;

border-radius:15px;

margin-left:auto;

margin-bottom:12px;

max-width:85%;

}

#chatInputArea{

display:flex;

padding:10px;

border-top:1px solid #eee;

}

#chatInput{

flex:1;

padding:12px;

border-radius:12px;

border:1px solid #ddd;

outline:none;

}

#sendBtn{

margin-left:10px;

border:none;

background:#ff5ca8;

color:white;

width:50px;

border-radius:12px;

cursor:pointer;

font-size:18px;

transition:.3s;

}

#sendBtn:hover{

background:#ff2d88;

}
