/* Floating Button */

#chatButton{

position:fixed;

bottom:25px;

right:25px;

width:65px;

height:65px;

border-radius:50%;

background:#ff7eb9;

color:white;

font-size:30px;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

box-shadow:0 8px 20px rgba(0,0,0,.25);

transition:.3s;

z-index:9999;

}

#chatButton:hover{

transform:scale(1.1);

background:#ff5da8;

}

/* Chat Window */

#chatWindow{

position:fixed;

bottom:100px;

right:25px;

width:340px;

height:500px;

background:white;

border-radius:20px;

display:none;

overflow:hidden;

box-shadow:0 12px 30px rgba(0,0,0,.25);

z-index:9999;

display:none;

flex-direction:column;

}

/* Header */

.chat-header{

background:#ff7eb9;

color:white;

padding:18px;

font-size:20px;

font-weight:bold;

text-align:center;

}

/* Messages */

#chatMessages{

flex:1;

padding:15px;

overflow-y:auto;

background:#fff7fb;

}

.bot-message{

background:#ffe4ef;

padding:12px;

border-radius:15px;

margin-bottom:12px;

}

.user-message{

background:#ff7eb9;

color:white;

padding:12px;

border-radius:15px;

margin-bottom:12px;

text-align:right;

}

/* Bottom */

.chat-input{

display:flex;

padding:12px;

border-top:1px solid #ddd;

background:white;

}

.chat-input input{

flex:1;

padding:10px;

border-radius:10px;

border:1px solid #ccc;

outline:none;

}

.chat-input button{

margin-left:10px;

padding:10px 16px;

background:#ff7eb9;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.chat-input button:hover{

background:#ff5da8;

}
