body{

font-family:Poppins, sans-serif;

background:#fff5f8;

}


.payment-box{

max-width:500px;

margin:50px auto;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

}


input,select,button{

width:100%;

padding:12px;

margin:10px 0;

border-radius:10px;

border:1px solid #ddd;

}


button{

background:#d65f91;

color:white;

border:none;

cursor:pointer;

font-size:16px;

}
